.imagem-carrossel{
    object-fit: cover;
    height: 400px;
    object-position: 0% 60%;
}

.fonte-titulo{
    font-family: 'Pacifico', cursive;

}

.cor-especial{
    color: darkred;
}

.botao-cor-especial{
    background-color: darkred !important;
    border-color: darkred !important;
    color: white !important;
}

.card-posicao-imagem{
    object-fit: cover;
    height: 200px;
}

.img-beterraba{
    object-position: 0% 78%;
}

.card-largura{
    max-width: 18rem;
}